.homeContainer{
    margin-bottom: 200px;
}
.last{
    margin:50px;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.last>*{
    width:100%;
    height: 500px;
}
.coverImage{
    filter: blur(5px);
    position: relative;
    overflow:hidden;
    margin-bottom: -500px;
}
.coverImage img{
    margin-top: -200px;
}
.pattern{
    position: relative;
    background-image: url('https://pngimg.com/uploads/dot/dot_PNG4.png');
    background-repeat: repeat;
    background-size: 5px;
    opacity: 0.5;
    margin-bottom: -500px;
}
.coverText{
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
}
.coverText div{
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    margin: auto;
    padding: 20px 40px;
    text-align: center;
}








.footer-basic {
    position: fixed;
    height: 150px; /*Without use these attributes the footer jump up and down during the slider-images transitions*/
    bottom: 40px;
    width: 100%;
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}








.small {
    max-width: 600px;
    margin:  150px auto;
}







.row-in-containter{
    margin-left: 0px;
    margin-right: 0px;
}


/*  */
html, body {
    height: 100%;
    width: 100%;
}


.login-alert-error {
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    border-radius: .25rem;
}


@media screen and (min-width: 992px) {

    #logo-container {
        padding-right: 1rem;
    }

    #form-login {
        padding-top: 1rem;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 1399px) {
    #logo-container {
        text-align: center;
    }
}

@media screen and (min-width: 1400px) {

    #logo-container {
        text-align: start;
    }
}

.hide {
    visibility: hidden !important;
}

#almaxLogo {
    max-width: 20%;
    border-radius: 30%;
}

#almaxIcon{
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card-header{
    background-color: white;
}





































.hidden {
    visibility: hidden;
}

button {
    cursor: pointer;
}

/* remove blue outline */
button:focus {
    outline: 0;
}

.burger-button {
    position: relative;
    height: 30px;
    width: 32px;
    display: block;
    z-index: 999;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    pointer-events: all;
    transition: transform .6s cubic-bezier(.165,.84,.44,1);
}

.burger-bar {
    background-color: #130f40;
    position: absolute;
    top: 50%;
    right: 6px;
    left: 6px;
    height: 2px;
    width: auto;
    margin-top: -1px;
    transition: transform .6s cubic-bezier(.165,.84,.44,1),opacity .3s cubic-bezier(.165,.84,.44,1),background-color .6s cubic-bezier(.165,.84,.44,1);
}

.burger-bar--1 {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}

.burger-bar--2 {
    transform-origin: 100% 50%;
    transform: scaleX(.8);
}

.burger-button:hover .burger-bar--2 {
    transform: scaleX(1);
}

.no-touchevents .burger-bar--2:hover {
    transform: scaleX(1);
}

.burger-bar--3 {
    transform: translateY(6px);
}

#burger.active .burger-button {
    transform: rotate(-180deg);
}

#burger.active .burger-bar {
    background-color: #fff;
}

#burger.active .burger-bar--1 {
    transform: rotate(45deg)
}

#burger.active .burger-bar--2 {
    opacity: 0;
}

#burger.active .burger-bar--3 {
    transform: rotate(-45deg)
}





























.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
    overflow: hidden;
    visibility: visible;
    position: absolute;
    width:100%;
    opacity: 1;
}
.fade-enter,
.fade-leave-to {
    visibility: hidden;
    width:80%;
    opacity: 0;
}
#image-slider {
    height:600px;
    width:80%
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.7s ease;
    border-radius: 0 4px 4px 0;
    text-decoration: none;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
}
.prev {
    left: 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.9);
}





















